<h1><%= @genre.name %></h1>
<h3>Artists</h3>
<ul>
    <% @artists.each do |artist| %>
        <li><a href="/artists/<%= artist[0].slug %>"><%= artist[0].name %></a></li>
    <% end %>
</ul>

<h3>Songs</h3>
<ul>
        <% @songs.each do |song| %>
            <li><a href="/songs/<%= song[0].slug %>"><%= song[0].name %></a></li>
        <% end %>
</ul>